
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/


.section {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    background-size: cover;
}
#seaSection {
  background-image: url(http://i.imgur.com/Hb5gTSq.jpg);
}
#wrapper {
  width: 80%;
  margin: 0 auto;
}
#highlight {
  color: rgb(56, 81, 98);
  /*text-shadow: .25px .5px .2px rgba(255, 255, 255, 0.7);*/
}
#icongroup {
  position: absolute;
  bottom: 10px;
  width: 95%;
  margin: 0 auto;
}
@keyframes fadeIn {
  from { opacity: 0; }
}
#dopeIcons {
  max-height: 100px;
  margin: 20px;
}
.roundone {
  animation: fadeIn 3s infinite alternate;
}
.roundtwo {
  animation: fadeIn 3s infinite alternate;
}
.roundthree {
  animation: fadeIn 3s infinite alternate;
}
.roundfour {
  animation: fadeIn 3s infinite alternate;
}
.roundfive {
  animation: fadeIn 3s infinite alternate;
}
.roundsix {
  animation: fadeIn 3s infinite alternate;
}
.roundseven {
  animation: fadeIn 3s infinite alternate;
}
.roundeight {
  animation: fadeIn 3s infinite alternate;
}
h5 {
  font-size: .4em;
  letter-spacing: .15em;
}
#vis75 {
  opacity: .75;
}
#vis50 {
  opacity: .5;
}
#vis25 {
  opacity: .2;
}
#myMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
    background: rgba(210, 50, 1, 0.6); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( rgba(210, 50, 1, 0.6), rgba(210, 76, 1, 0) ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( rgba(210, 50, 1, 0.6), rgba(210, 76, 1, 0) ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( rgba(210, 50, 1, 0.6), rgba(210, 76, 1, 0) ); /* For Firefox 3.6 to 15 */
    background: linear-gradient( rgba(210, 50, 1, 0.6), rgba(210, 76, 1, 0) ); /* Standard syntax */
}
ul {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .2em;
  list-style: none;
  display: block;
  text-decoration: none;
}
#myMenu li {
  display: inline-block;
  margin: 10px;
  padding: 0 0 0 10px;
}
#myMenu a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}
#myMenu li.active a {
  color: white;
  text-transform: uppercase;
}
